/* Body uchun umumiy sozlamalar */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Xatolik qutisi */
.error-container {
    text-align: center;
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Sarlavha */
.error-container h1 {
    font-size: 3rem;
    color: #e74c3c;
    margin-bottom: 20px;
}

/* Matn */
.error-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.error-container button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.error-container button:hover {
    background-color: #2980b9;
}


/* Tugma */
.error-container a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-container a:hover {
    background-color: #2980b9;
}
