<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 - Forbidden</title>
    <link rel="stylesheet" href="/static/css/403.css"> <!-- CSS fayliga havola -->
</head>
<body>
    <div class="error-container">
        <h1>403 - Ruxsat etilmagan</h1>
        <p>Ushbu sahifaga kirishga ruxsat yo'q.</p>
        <button onclick="goBack()">Oldingi sahifaga qaytish</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
