{% extends 'base.html' %}

{% load static %}

{% block content %}

    <title>Biz haqimizda</title>

    <hr>

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Biz haqimizda</h2>
                        <div class="bt-option">
                            <a href="{% url 'index' %}">Home</a>
                            <span>Biz haqimizda</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- About Us Page Section Begin -->
    <section class="aboutus-page-section spad">
        <div class="container">
            <div class="about-page-text">
                <div class="row">
                    {% for object in aboutobject.about_name %}
                    <div class="col-lg-6">
                        <div class="ap-title" align="center">
                            <h2>{{ object.name }}</h2>
                            <p>{{ object.detail }}</p>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <ul class="ap-services">
                            <li><i class="icon_check"></i> O'quv binosi 2 ta.</li>
                            <li><i class="icon_check"></i> Sport zal.</li>
                            <li><i class="icon_check"></i> Informatika xonasi.</li>
                            <li><i class="icon_check"></i> WiFi.</li>
                            <li><i class="icon_check"></i> Oshxona.</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="about-page-services">
                <div class="row">
                    {% for object in aboutobject.about_staff %}
                    {% if forloop.counter == 1 %}
                    <div class="col-md-4">
                        <div class="ap-service-item set-bg" data-setbg="{{ object.photo.url }}"  width='370px' height="420px">
                            <div class="api-text">
                            </div>
                        </div>
                        <div  align="center">
                            <h2 style="background-color:DodgerBlue;">{{ object.staff }}:</h2>
                            <h3>{{ object.name }}</h3>
                            <h4>{{ object.level }}.</h4>
                        </div>
                    </div>
                    {% endif %}
                    {% if forloop.counter == 2 %}
                    <div class="col-md-4">
                        <div class="ap-service-item set-bg" data-setbg="{{ object.photo.url }}"  width='370px' height="420px">
                            <div class="api-text">
                            </div>
                        </div>
                        <div  align="center">
                            <h2 style="background-color:DodgerBlue;">{{ object.staff }}:</h2>
                            <h3>{{ object.name }}</h3>
                            <h4>{{ object.level }}.</h4>
                        </div>
                    </div>
                    {% endif %}
                    {% if forloop.counter == 3 %}
                    <div class="col-md-4">
                        <div class="ap-service-item set-bg" data-setbg="{{ object.photo.url }}"  width='370px' height="420px">
                            <div class="api-text">
                            </div>
                        </div>
                        <div  align="center">
                            <h2 style="background-color:DodgerBlue;">{{ object.staff }}:</h2>
                            <h3>{{ object.name }}</h3>
                            <h4>{{ object.level }}.</h4>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Page Section End -->
    <hr>
    <!-- Video Section Begin -->
    <div align="center">
    {% for object in aboutobject.about_video %}
    {% if forloop.counter == 1 %}

        </li>
        <h2>{{ object.title }}</h2>
        <hr>
<iframe
        width="1120"
        height="630"
        src = {{ object.video_url }}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>

</iframe>

    {% endif %}
    {% endfor %}

    </div>
    <!-- Video Section End -->
    <hr>
    <!-- Gallery Section Begin -->
    <section class="gallery-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Bizning galireyamiz</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for object in aboutobject.about_gallery %}
                {% if forloop.counter == 1 %}
                <div class="col-lg-6">
                    <div class="gallery-item set-bg" data-setbg="{{ object.photo.url }}"  width='576px' height="279px">
                        <div class="gi-text">
                            <h3>{{ object.name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        {% endif %}
                        {% if forloop.counter == 2 %}
                        <div class="col-sm-6">
                            <div class="gallery-item set-bg" data-setbg="{{ object.photo.url }}"  width='279px' height="279px">
                                <div class="gi-text">
                                    <h3>{{ object.name }}</h3>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                        <div class="col-sm-6">
                            <div class="gallery-item set-bg" data-setbg="{{ object.photo.url }}"  width='279px' height="279px">
                                <div class="gi-text">
                                    <h3>{{ object.name }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if forloop.counter == 4 %}
                <div class="col-lg-6">
                    <div class="gallery-item large-item set-bg" data-setbg="{{ object.photo.url }}">
                        <div class="gi-text">
                            <h3>{{ object.name }}</h3>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Gallery Section End -->
    <hr>

{% endblock content %}