{% extends 'base.html' %}
{% load static %}
{% block content %}

    <title>Aloqa ma'lumotlari</title>

    <hr>
    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text" align="center">
                        <h2>Aloqa ma'lumotlari</h2>
                            {% for object in contactobject.contact_address %}
                            {% if forloop.counter == 1 %}

                                <table>
                                  <tr>
                                    <td><strong>Manzil:</strong></td>
                                    <td>{{ object.address }}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Tel raqami: </strong></td>
                                    <td>{{ object.phone }}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Email:</strong></td>
                                    <td><a href="mailto:{{ object.email }}">{{ object.email }}</a></td>
                                  </tr>
                                  <tr>
                                    <td><strong>Faks:</strong></td>
                                    <td>{{ object.fax }}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Telegram:</strong></td>
                                    <td><a href="https://t.me/{{ object.telegram }}">{{ object.telegram }}</a></td>
                                  </tr>
                                  <tr>
                                    <td><strong>Facebook:</strong></td>
                                    <td><a href="https://facebook.com/{{ object.facebook }}">{{ object.facebook }}</a></td>
                                  </tr>
                                </table>

                            {% endif %}
                            {% endfor %}
                    </div>
                </div>

            </div>
            {% for object in contactobject.contact_map %}
            {% if forloop.counter == 1 %}

            <div class="map">
            <iframe
                    src = {{object.map_url}}
                    width="800"
                    height="600"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">

            </iframe>

                
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <!-- Contact Section End -->


<hr>
{% endblock content %}
