{% extends 'base2.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/students-edit.css' %}">
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header text-center bg-primary text-white">
            <h2>Shaklni to'ldiring</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Shakl maydonlari -->
                {{ form.as_p }}

                <!-- Yuborish tugmasi -->
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Saqlash</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
