{% extends 'base2.html' %}

{% load static %}

{% block content %}
    <hr>
<h1>{{ object.name }}</h1>
    <div class="d-flex position-relative">
      <img src="{{ object.photo.url }}" class="flex-shrink-0 me-3" alt="..." width='370px' height="340px">
      <div>
        <h2>Otasini I.F.Sh: {{object.name_father}}</h2>
        <h2>Otasini tel raqami: {{object.phone_father}}</h2>
        <h2>Onasini I.F.Sh: {{object.name_mom}}</h2>
        <h2>Onasini tel raqami: {{object.phone_mom}}</h2>
        <h2>O'quvchi sinfi:  {{ object.class_id }} {{object.class_letter}}</h2>
        <a href="{% url 'students_edit' object.pk %}"><button type="button" class="btn btn-primary">Tahrirlash</button></a>
        <a href="{% url 'students_delete' object.pk %}"><button type="button" class="btn btn-danger">O'chirish</button></a>
      </div>
    </div>



    <hr>
{% endblock content %}