{% extends 'base2.html' %}

{% load static %}

{% block content %}
    <hr>
<h1>{{ object.name }}</h1>
    <div class="d-flex position-relative">
      <img src="{{ object.photo.url }}" class="flex-shrink-0 me-3" alt="..." width='370px' height="340px">
      <div>
          <br>
          <br>
        <h2>O'qitish fani:  {{object.position}}</h2>
        <h2>Ish vaqti (1 hafta):  {{object.working_time}} soat</h2>
        <h2>Darajasi: {{object.level}}</h2>
        <h2>Tel raqami:  {{object.phone}}</h2>
        <a href="{% url 'teachers_edit' object.pk %}"><button type="button" class="btn btn-primary">Tahrirlash</button></a>
        <a href="{% url 'teachers_delete' object.pk %}"><button type="button" class="btn btn-danger">O'chirish</button></a>
        <a href="{% url 'teachers_list' %}"><button type="button" class="btn btn-warning">Ro'yxatga qaytish</button></a>
      </div>
    </div>



    <hr>
{% endblock content %}