{% extends 'base2.html' %}
{% load static %}
{% block content %}

    <title>O'qituvchi ma'lumotlari</title>

<link rel="stylesheet" href="{% static 'css/teachers-detail.css' %}">

        <div class="teacher-detail-container">
            <div class="teacher-card">
                <div class="teacher-image">
                    <img src="{{ object.photo.url }}" alt="{{ object.name }}">
                </div>
                <div class="teacher-info">
                    <h1 class="teacher-name">{{ object.name }}</h1>
                    <div class="teacher-details">
                        <p><strong>O'qitish fani:</strong> {{ object.position }}</p>
                        <p><strong>Ish vaqti (1 hafta):</strong> {{ object.working_time }} soat</p>
                        <p><strong>Darajasi:</strong> {{ object.level }}</p>
                        <p><strong>Tel raqami:</strong> {{ object.phone }}</p>
                    </div>
                    <div class="teacher-actions">
                        <a href="{% url 'teachers_edit' object.pk %}" class="btn btn-primary">Tahrirlash</a>
                        <a href="{% url 'teachers_delete' object.pk %}" class="btn btn-danger">O'chirish</a>
                        <a href="{% url 'teachers_list' %}" class="btn btn-warning">Ro'yxatga qaytish</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}